# NRW Groundwater Data - OpenHygrisC Data Engineering

Data from <br>
**[LANUV](https://www.lanuv.nrw.de/): Landesamt für Natur, Umwelt und Verbraucherschutz Nordrhein-Westfalen** <br>
(State Office for Nature, Environment and Consumer Protection NRW)

* LANUV groundwater web pages: https://www.lanuv.nrw.de/umwelt/wasser/grundwasser

Groundwater data: https://www.lanuv.nrw.de/umwelt/wasser/grundwasser/grundwasserstand/grundwasserdaten-online

ELWAS-WEB NRW - Infos zu den Grundwasserkörpern (YouTube): https://www.youtube.com/watch?v=4wFKIu622rk

In the database HygrisC the LANUV provides groundwater quality and quantity data for most groundwater wells in NRW. The groundwater wells are partly owned and operated by NRW, partly by other parties. 
The measurement intervals are usually annual. Some groundwater well are sampled more frequently. 

WRRL: EU Wasserrahmenrichtlinie, EU Water Framework Directive

The quality data is based on chemical analyses of groundwater samples. The quantity data is based on groundwater level measurement.


OpenHygrisC Data: https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/

**Download the NRW groundwater data zip file**:
<br>
https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV.zip

The zip archive contains gw station info, a catalog of possible physico-chemical analysis parameters, and the measured data. 

## Coordinate Obfuscation 

Some coordinate data in the gw station info reveal difficulties. The coordinate reference system (CRS) used is the projected metric based 
EPSG:25832 ( ETRS89 / UTM zone 32N). 
The dataframe coordinate columns `e32` (easting) and `n32` (northing) are of data type object (not numeric). 

The resolution is 1m but many coordinates are obscurred because of privacy issues to a precision of 100m. A few coordinates are missing, i.e. either empty (nan) or filled with `xx`.


The coordinate columns e32 and n32 are of data type object/string. Four cases must be distinguished:

* Most strings are in a regular number format and can be converted to float right away (case (1) and (2) in the table)
* Other coordinate strings are obfuscated by replacing the two least significant decimal places with the characters "xx". This usually happens when a groundwater well is on private property. The coordinates are made less precise to respect privacy. The remaining coordinate information is still usable. The precision is limited to 100 meters. The uncertainty is +- 50m. (case (3) in the table)
* In some cases no coordinate infomation is given at all. In these cases the coordinate strings are just "xx". (case (4) in the table)
* In a very few cases the coordinate columns are empty, i.e. NaN (Null). (case (5) in the table)

The following table shows representative cases.


| case |   messstelle_id | e32    | n32     | grundstueck   |
|-----:|----------------:|-------:|--------:|:--------------|
|  (1) |        10000094 | 292868 | 5632572 | oeffentlich   |
|  (2) |        10000045 | 299399 | 5650595 | privat        |
|  (3) |        10000033 | 3070xx | 56583xx | privat        |
|  (4) |        47247101 | xx     | xx      |               |
|  (5) |        79921802 | nan    | nan     |               |

Case (1) and (2) have coordinate strings which can be immediately converted to integer or float with 1m precision. Case (3) shows coordinate obfuscation to a precision to 100m. The digits representing tens and ones are anonymized. Case (4) and (5) show useless coordinate information.  

How to deal with non-anonymized data:

"299399" (string, prec. 1) => 299399.0 (float) 

How to deal with anonymization:

307000 <= 3070xx <= 307099

"3070xx" (string, prec. 100) => 307050 (float, +- 50m)

## Correct wrong `PROJ_LIB` environment variable value 

This problem seems to occur on Windows when using the OSGeo4W installer. The environment variable must point to a user specific directory and according to the activated conda environment, e.g. `PROJ_LIB=C:\Users\<username>\Anaconda3\envs\geo\Library\share\proj`

In [ ]:
# Correct wrong environment variable value occurring when using OSGeo4W installer

import os
#proj_lib = os.environ['proj_lib']
#print(proj_lib)

conda_prefix = os.environ['conda_prefix']
print(f"CONDA_PREFIX: {conda_prefix:s}")
os.environ['proj_lib'] = conda_prefix + r"\Library\share\proj"
proj_lib = os.environ['proj_lib']
print(f"New env var value: \nPROJ_LIB={proj_lib:s}")

## Imports

In [1]:

import pandas as pd
import geopandas as gpd
import pathlib
import wget
import zipfile
from sqlalchemy import create_engine

In [2]:
# Source URL
url = r"https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite.zip"

# Target directory
datapath = "../data/OpenGeodata.NRW/OpenHygrisC/"

In [3]:
# Source URL
url = r"https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite.zip"

# Target directory
datapath = "../data/OpenGeodata.NRW/OpenHygrisC/"

## Download zip file if necessary.

In [4]:
zipfilename = url.split(r"/")[-1]

print(f"Downloading {zipfilename} to directory {datapath}")

p = pathlib.Path(datapath)
p.mkdir(parents=True,exist_ok=True)

f =  pathlib.Path(datapath + zipfilename)

if not f.is_file():
    wget.download(url, out=datapath)
else:
    print(f"Warning: {f} already exists. Skip download.")

Downloading OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite.zip to directory ../data/OpenGeodata.NRW/OpenHygrisC/
Warning: ../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite.zip already exists. Skip download.

## Unzip if necessary.

In [5]:


print(f"unzip {zipfilename}")

sqlitepathname = datapath + f.stem

if not pathlib.Path(sqlitepathname).exists():
    with zipfile.ZipFile(f, 'r') as zip_ref:
        zip_ref.extractall(sqlitepathname)
else:
    print(f"Warning: directory {sqlitepathname} already exists. Skip unzip.")

unzip OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite.zip
Warning: directory ../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite already exists. Skip unzip.

## What is in the unzipped folder?

In [6]:
p = pathlib.Path(sqlitepathname)
list(p.glob("*"))

[PosixPath('../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite/katalog_stoff.sqlite'),
 PosixPath('../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite/opendata.gw_messstelle.sqlite'),
 PosixPath('../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite/katalog_gemeinde.sqlite'),
 PosixPath('../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite/opendata.gw_chemischer_messwert.sqlite')]

## Assign file names to variables.

In [7]:
chem_path       = next(p.glob("*chem*"))  # Chemistry
stoff_path      = next(p.glob("*stoff*")) # Substance, physico-chemical Quantity, Parameter
messstelle_path = next(p.glob("*messstelle*")) # GW Well, Station
gemeinde_path   = next(p.glob("*gemeinde*")) # Municipality

print(f"{messstelle_path.name = }")
print(f"{chem_path.name       = }")
print(f"{stoff_path.name      = }")
print(f"{gemeinde_path.name   = }")

messstelle_path.name = 'opendata.gw_messstelle.sqlite'
chem_path.name       = 'opendata.gw_chemischer_messwert.sqlite'
stoff_path.name      = 'katalog_stoff.sqlite'
gemeinde_path.name   = 'katalog_gemeinde.sqlite'

## Focus on groundwater station data (= location) only.

In [8]:
str(messstelle_path)

'../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite/opendata.gw_messstelle.sqlite'

In [9]:
import sqlalchemy
sqlite_uri = r"sqlite:///" + str(messstelle_path)
sqlite_uri

'sqlite:///../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite/opendata.gw_messstelle.sqlite'

## Use Jupyter SQL Magic for a quick look into the database.

In [10]:
%reload_ext sql
%config SqlMagic.autolimit = 10
#%sql sqlite:///../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite/opendata.gw_chemischer_messwert.sqlite
#%sql sqlite_uri
from sqlalchemy import create_engine

engine = create_engine(sqlite_uri)
%sql engine

In [11]:
%%sql
SELECT * FROM sqlite_master

Running query in 'sqlite:///../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite/opendata.gw_messstelle.sqlite'

+-------+----------------------------------------+----------------------------------------+----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|  type |                  name                  |                tbl_name                | rootpage |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    sql                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
+-------+----------------------------------------+----------------------------------------+----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| table | opendata_gw_chemischer_messwert_sqlite | opendata_gw_chemischer_messwert_sqlite |    2     | CREATE TABLE "opendata_gw_chemischer_messwert_sqlite" ("sl_nr" integer, "messstelle_id" integer, "name" varchar(49), "e32" varchar(7), "n32" varchar(8), "gw_stockwerk" integer, "grundstueck" varchar(12), "gemeinde_id" varchar(9), "gwhorizont_id" varchar(5), "gwhorizont" varchar(53), "gwleiter_id" varchar(5), "gwleiter" varchar(34), "einrichtungsgrund" varchar(35), "gwk_lage_auf_id" varchar(11), "gwk_lage_id" varchar(9), "gwk_monitoring_auf_id" varchar(11), "gwk_monitoring_id" varchar(9), "messprogramm" varchar(35), "turnus_wasserstand" varchar(33), "freigabe_wstd" varchar(5), "freigabe_chemie" varchar(5), "freigabe_lage" varchar(5), "wasserstandsmessstelle" varchar(5), "guetemessstelle" varchar(5), "im_wrrl_messnetz_chemie" varchar(5), "im_wrrl_messnetz_wasserstand" varchar(5), "messstellenart" varchar(33), "wasserart" varchar(33), "labor" varchar(6), "beobachtung_wasserstand" varchar(24), "eigentuemer" varchar(53), "betreiber" varchar(53), "filterlaenge_cm" integer, "sumpfrohrlaenge_cm" integer, "ausbaudurchmesser_mm" integer, "historischer_ruhe_wsp" float, "einbaulaenge_cm" float, "oberkante_filter_cm" integer, "unterkante_filter_cm" integer) |
+-------+----------------------------------------+----------------------------------------+----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [13]:
%config SqlMagic.autolimit = 10
%sql select count(*) from opendata_gw_chemischer_messwert_sqlite

Running query in 'sqlite:///../data/OpenGeodata.NRW/OpenHygrisC/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_Sqlite/opendata.gw_messstelle.sqlite'

+----------+
| count(*) |
+----------+
|  71120   |
+----------+

In [14]:
table_name = "opendata_gw_chemischer_messwert_sqlite"

In [75]:
pd.read_sql_table?

Signature:
pd.read_sql_table(
    table_name: 'str',
    con,
    schema: 'str | None' = None,
    index_col: 'str | list[str] | None' = None,
    coerce_float: 'bool' = True,
    parse_dates: 'list[str] | dict[str, str] | None' = None,
    columns: 'list[str] | None' = None,
    chunksize: 'int | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | Iterator[DataFrame]'
Docstring:
Read SQL database table into a DataFrame.

Given a table name and a SQLAlchemy connectable, returns a DataFrame.
This function does not support DBAPI connections.

Parameters
----------
table_name : str
    Name of SQL table in database.
con : SQLAlchemy connectable or str
    A database URI could be provided as str.
    SQLite DBAPI connection mode not supported.
schema : str, default None
    Name of SQL schema in database to query (if database flavor
    supports this). Uses default schema if None (default).
index_col : str or list of str, optional, default: None
    Column(s) to set as index(MultiIndex).
coerce_float : bool, default True
    Attempts to convert values of non-string, non-numeric objects (like
    decimal.Decimal) to floating point. Can result in loss of Precision.
parse_dates : list or dict, default None
    - List of column names to parse as dates.
    - Dict of ``{column_name: format string}`` where format string is
      strftime compatible in case of parsing string times or is one of
      (D, s, ns, ms, us) in case of parsing integer timestamps.
    - Dict of ``{column_name: arg dict}``, where the arg dict corresponds
      to the keyword arguments of :func:`pandas.to_datetime`
      Especially useful with databases without native Datetime support,
      such as SQLite.
columns : list, default None
    List of column names to select from SQL table.
chunksize : int, default None
    If specified, returns an iterator where `chunksize` is the number of
    rows to include in each chunk.
dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

Returns
-------
DataFrame or Iterator[DataFrame]
    A SQL table is returned as two-dimensional data structure with labeled
    axes.

See Also
--------
read_sql_query : Read SQL query into a DataFrame.
read_sql : Read SQL query or database table into a DataFrame.

Notes
-----
Any datetime values with time zone information will be converted to UTC.

Examples
--------
>>> pd.read_sql_table('table_name', 'postgres:///db_name')  # doctest:+SKIP
File:      ~/anaconda3/envs/geo4/lib/python3.12/site-packages/pandas/io/sql.py
Type:      function

In [76]:
%%time
df_in = pd.read_sql_table(table_name, sqlite_uri)

CPU times: user 499 ms, sys: 34.7 ms, total: 534 ms
Wall time: 532 ms

### Have a quick look.

In [24]:
df_in.dtypes

sl_nr                             int64
messstelle_id                     int64
name                             object
e32                              object
n32                              object
gw_stockwerk                    float64
grundstueck                      object
gemeinde_id                      object
gwhorizont_id                    object
gwhorizont                       object
gwleiter_id                      object
gwleiter                         object
einrichtungsgrund                object
gwk_lage_auf_id                  object
gwk_lage_id                      object
gwk_monitoring_auf_id            object
gwk_monitoring_id                object
messprogramm                     object
turnus_wasserstand               object
freigabe_wstd                    object
freigabe_chemie                  object
freigabe_lage                    object
wasserstandsmessstelle           object
guetemessstelle                  object
im_wrrl_messnetz_chemie          object
im_wrrl_messnetz_wasserstand     object
messstellenart                   object
wasserart                        object
labor                            object
beobachtung_wasserstand          object
eigentuemer                      object
betreiber                        object
filterlaenge_cm                 float64
sumpfrohrlaenge_cm              float64
ausbaudurchmesser_mm            float64
historischer_ruhe_wsp           float64
einbaulaenge_cm                 float64
oberkante_filter_cm             float64
unterkante_filter_cm            float64
dtype: object

In [79]:
df_in["messstelle_id"]=df_in["messstelle_id"].astype(str).str.zfill(9)

In [80]:
df_in.head(3)

,sl_nr,messstelle_id,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,...,beobachtung_wasserstand,eigentuemer,betreiber,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm
0,67530,032505929,UWB-Ddorf 01285,343064,5678019,1.0,,05111000,None,None,...,-,Stadt Düsseldorf ...,Stadt Düsseldorf ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51044,010446746,60GP012303,292077,5645349,NaN,privat,NL000882,5,Zwischenmittel,...,-,Prov. Limburg (NL) ...,Prov. Limburg (NL) ...,200.0,NaN,NaN,NaN,16893.0,-3333.0,-3533.0
2,51070,087005323,58BP024606,287141,5684635,NaN,privat,NL001640,6D,Neurather Sand,...,-,Prov. Limburg (NL) ...,Prov. Limburg (NL) ...,500.0,300.0,NaN,NaN,32667.0,-29083.0,-29583.0

## GW Station Data

In [81]:
df_in.set_index(df_in["messstelle_id"], inplace= True)

In [82]:
df_in.drop("messstelle_id",axis=1,inplace=True)
df_in.head(3)

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,gwleiter_id,...,beobachtung_wasserstand,eigentuemer,betreiber,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm
messstelle_id,,,,,,,,,,,,,,,,,,,,,
032505929,67530,UWB-Ddorf 01285,343064,5678019,1.0,,05111000,None,None,None,...,-,Stadt Düsseldorf ...,Stadt Düsseldorf ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
010446746,51044,60GP012303,292077,5645349,NaN,privat,NL000882,5,Zwischenmittel,None,...,-,Prov. Limburg (NL) ...,Prov. Limburg (NL) ...,200.0,NaN,NaN,NaN,16893.0,-3333.0,-3533.0
087005323,51070,58BP024606,287141,5684635,NaN,privat,NL001640,6D,Neurather Sand,None,...,-,Prov. Limburg (NL) ...,Prov. Limburg (NL) ...,500.0,300.0,NaN,NaN,32667.0,-29083.0,-29583.0

In [83]:
df_in.sort_index(ascending=True, inplace=True)
df_in.head(3)

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,gwleiter_id,...,beobachtung_wasserstand,eigentuemer,betreiber,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm
messstelle_id,,,,,,,,,,,,,,,,,,,,,
010000008,70796,P3-BSR/Mariaschacht P 5 neu,3068xx,56254xx,1.0,,05334032,None,None,None,...,-,BSR Schotterwerk ...,Enwor GmbH ...,700.0,NaN,80.0,NaN,1570.0,21053.0,20353.0
010000010,1,SCHERPENSEEL NR 1,2935xx,56452xx,1.0,privat,05370028,6D,Neurather Sand,None,...,-,Land NRW ...,keine Angabe ...,400.0,NaN,100.0,NaN,4936.0,7731.0,7331.0
010000021,2,Bellinghoven Nr. 2,312776,5660432,1.0,privat,05370004,14,Ältere Hauptterrassen,None,...,-,keine Angabe ...,keine Angabe ...,NaN,NaN,1000.0,NaN,1411.0,7885.0,7885.0

In [84]:
num_total = df_in.shape[0]
df_in.shape

(71120, 38)

In [85]:
df_in[df_in["grundstueck"]=="oeffentlich"]

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,gwleiter_id,...,beobachtung_wasserstand,eigentuemer,betreiber,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm
messstelle_id,,,,,,,,,,,,,,,,,,,,,
010000094,9,Richterich Nr. 11,292868,5632572,1.0,oeffentlich,05334002,None,None,kro,...,-,Bahnbrunnen ...,keine Angabe ...,NaN,NaN,3000.0,NaN,954.0,17351.0,17351.0
010000173,19,WALLENTHAL NR 20,328303,5604342,1.0,oeffentlich,05366024,SM,Mittlerer Buntsandstein,None,...,durch LANUV,keine Angabe ...,keine Angabe ...,NaN,NaN,1000.0,NaN,400.0,37030.0,37030.0
010132314,27,Zülpich 17 A,334240,5618380,1.0,oeffentlich,05366044,16,Jüngere Hauptterrassen mit Lößauflagerung,None,...,durch LANUV,Land NRW ...,Land NRW ...,100.0,200.0,100.0,NaN,530.0,17261.0,17161.0
010132326,28,Zülpich 17 B,334240,5618379,2.0,oeffentlich,05366044,9B,Sande und Kiese,None,...,durch LANUV,Land NRW ...,Land NRW ...,200.0,200.0,100.0,NaN,3165.0,14721.0,14521.0
010133318,33,Euskirchen I/26,343605,5613273,1.0,oeffentlich,05366016,16,Jüngere Hauptterrassen mit Lößauflagerung,None,...,-,Land NRW ...,Land NRW ...,100.0,0.0,80.0,NaN,759.0,16816.0,16716.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289197338,66542,Gohr 2,341498,5664187,1.0,oeffentlich,05162004,19,Niederterrassen mit Lößauflagerung,None,...,-,None,None,200.0,100.0,65.0,NaN,2000.0,2484.0,2284.0
289197417,66543,Gohr 3,341645,5664302,1.0,oeffentlich,05162004,19,Niederterrassen mit Lößauflagerung,None,...,-,None,None,200.0,100.0,65.0,NaN,1000.0,3568.0,3368.0
289197429,66544,Gohr 3,341645,5664302,1.0,oeffentlich,05162004,19,Niederterrassen mit Lößauflagerung,None,...,-,None,None,200.0,100.0,65.0,NaN,1500.0,3062.0,2862.0
289197430,66545,Gohr 3,341645,5664302,1.0,oeffentlich,05162004,19,Niederterrassen mit Lößauflagerung,None,...,-,None,None,200.0,100.0,65.0,NaN,2000.0,2556.0,2356.0
289197910,66922,Noithausen,331448,5664032,1.0,oeffentlich,05162008,18,Untere- und mittlere Mittelterrassen mit Lößau...,None,...,-,None,None,200.0,100.0,65.0,NaN,NaN,NaN,NaN

## Challange: Coordinates obfuscation

The coordinate columns e32 and n32 are of data type string. Four cases must be distinguished:

(1) Most strings are in a regular number format and can be converted to float right away.

(2) Other coordinate strings are obfuscated by replacing the two least significant digits with the characters "xx". This usually happens when a groundwater well is on private property. The coordinates are made less precise to respect privacy. The remaining coordinate information is still usable. The precision is limited to 100 meters. The uncertainty is +- 50m. 

(3) In some cases no coordinate infomation is given at all. In these cases the coordinate strings are just "xx".

(4) In a very few cases the coordinate columns are empty, i.e. NaN (Null).

In [86]:
# These four groundwater wells summarize the coordinate problems.
df_coord_problem=df_in.loc[[10000094, 10000045, 10000033, 47247101, 79921802],["e32","n32", "grundstueck"]]
df_coord_problem

KeyError: "None of [Index([10000094, 10000045, 10000033, 47247101, 79921802], dtype='int64', name='messstelle_id')] are in the [index]"

In [87]:
# forma table as markdown
from tabulate import tabulate
print(tabulate(df_coord_problem, tablefmt="pipe", headers="keys"))

|   messstelle_id | e32    | n32     | grundstueck   |
|----------------:|:-------|:--------|:--------------|
|        10000094 | 292868 | 5632572 | oeffentlich   |
|        10000045 | 299399 | 5650595 | privat        |
|        10000033 | 3070xx | 56583xx | privat        |
|        47247101 | xx     | xx      |               |
|        79921802 |        |         |               |

|   messstelle_id | e32    | n32     | grundstueck   |
|----------------:|:-------|:--------|:--------------|
|        10000094 | 292868 | 5632572 | oeffentlich   |
|        10000045 | 299399 | 5650595 | privat        |
|        10000033 | 3070xx | 56583xx | privat        |
|        47247101 | xx     | xx      |               |
|        79921802 | nan    | nan     |               |

**Boolean indexes are used to filter the data according to the cases (1) to (4).**

In [88]:
# Add column for precision
df_in["genau"] = 0

# (1) If the coord data is numeric then the precision is 1m
idx_coords_1m_prec = (df_in["e32"].str.isnumeric() == True) 

# (3,4) Some stations don't have coordinates
# e32 and n32 strings are either NaN (Null) or "xx"
idx_coords_missing = (df_in["e32"].str.len() < 6) | (df_in["e32"].isnull() == True)

# (2) If coord data is avaliable but not numeric, then the numbers have been obscured with "XX" for the two least significant decimals.
idx_coords_100m_prec = ~idx_coords_missing &  ~(df_in["e32"].str.isnumeric() == True)

In [89]:
df_in.index[idx_coords_missing]

Index(['036446518', '036487600', '047039000', '047199003', '047200005',
       '047202002', '047247101', '047299009', '059621035', '068011003',
       '068012007', '068013103', '068013206', '068013309', '068013401',
       '068013504', '068013607', '079921802', '118010001', '118020006',
       '118260005', '118550007', '118620009', '118650002', '118810005',
       '118820000', '118840009', '118871900', '118880007', '129700800'],
      dtype='object', name='messstelle_id')

**Convert the strings to floats where possible. No data values are represented as negative numbers.**

In [90]:
df_in.loc[idx_coords_1m_prec,"e32num"] = df_in.loc[idx_coords_1m_prec,"e32"].astype(float)
df_in.loc[idx_coords_1m_prec,"n32num"] = df_in.loc[idx_coords_1m_prec,"n32"].astype(float)
df_in.loc[idx_coords_1m_prec, "genau"] = 1

In [91]:
df_in.loc[idx_coords_100m_prec,"e32num"] = (df_in.loc[idx_coords_100m_prec,"e32"].str[:-2]+"50").astype(float)
df_in.loc[idx_coords_100m_prec,"n32num"] = (df_in.loc[idx_coords_100m_prec,"n32"].str[:-2]+"50").astype(float)
df_in.loc[idx_coords_100m_prec, "genau"] = 100

In [92]:
df_in.loc[idx_coords_missing,"e32num"] = -999.9
df_in.loc[idx_coords_missing,"n32num"] = -999.9
df_in.loc[idx_coords_missing, "genau"] = -999

In [93]:
# check if all records have been matched
num_of_1m_prec = df_in[df_in["genau"] == 1].shape[0]
num_of_100m_prec = df_in[df_in["genau"] == 100].shape[0]
num_of_no_prec = df_in[df_in["genau"] == -999].shape[0]

num_check = num_of_1m_prec + num_of_100m_prec + num_of_no_prec

print(f"total num of recs:                        {num_total:6d}")
print(f"number of recs with 1m coord precision:   {num_of_1m_prec:6d}")
print(f"number of recs with 100m coord precision: {num_of_100m_prec:6d}")
print(f"number of recs with no coords:            {num_of_no_prec:6d}")
print(f"check sum:                                {num_check:6d}")

assert num_check == num_total, "ERROR. Mismatch in numbers of stations"

total num of recs:                         71120
number of recs with 1m coord precision:    59280
number of recs with 100m coord precision:  11810
number of recs with no coords:                30
check sum:                                 71120

**Save the original string as well as the derived numeric columns to a CSV file for checking externally.**

In [94]:
df_in[["e32","e32num","n32","n32num","genau"]].to_csv("check.csv")
df_in[["e32","e32num","n32","n32num","genau"]]

                  e32    e32num      n32     n32num  genau
messstelle_id
010000008      3068xx  306850.0  56254xx  5625450.0    100
010000010      2935xx  293550.0  56452xx  5645250.0    100
010000021      312776  312776.0  5660432  5660432.0      1
010000033      3070xx  307050.0  56583xx  5658350.0    100
010000045      299399  299399.0  5650595  5650595.0      1
...               ...       ...      ...        ...    ...
289382210      345323  345323.0  5659935  5659935.0      1
289382221      345323  345323.0  5659935  5659935.0      1
289382518      345603  345603.0  5659991  5659991.0      1
289382520      345603  345603.0  5659991  5659991.0      1
289382713      344170  344170.0  5660121  5660121.0      1

[71120 rows x 5 columns]

## Geopandas

In [95]:
import geopandas as gpd
from shapely.geometry import Point

In [96]:
# remove records without coords
df2 = df_in[df_in["genau"] > 0]

In [97]:
df2.shape

(71090, 41)

In [98]:
df2.head()

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,gwleiter_id,...,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm,genau,e32num,n32num
messstelle_id,,,,,,,,,,,,,,,,,,,,,
010000008,70796,P3-BSR/Mariaschacht P 5 neu,3068xx,56254xx,1.0,,05334032,None,None,None,...,700.0,NaN,80.0,NaN,1570.0,21053.0,20353.0,100,306850.0,5625450.0
010000010,1,SCHERPENSEEL NR 1,2935xx,56452xx,1.0,privat,05370028,6D,Neurather Sand,None,...,400.0,NaN,100.0,NaN,4936.0,7731.0,7331.0,100,293550.0,5645250.0
010000021,2,Bellinghoven Nr. 2,312776,5660432,1.0,privat,05370004,14,Ältere Hauptterrassen,None,...,NaN,NaN,1000.0,NaN,1411.0,7885.0,7885.0,1,312776.0,5660432.0
010000033,3,Doveren Nr. 3,3070xx,56583xx,1.0,privat,05370020,16,Jüngere Hauptterrassen mit Lößauflagerung,Hj,...,NaN,NaN,1000.0,NaN,755.0,4847.0,4847.0,100,307050.0,5658350.0
010000045,4,Geilenkirchen Nr. 5,299399,5650595,1.0,privat,05370012,10,Sande und Kiese,None,...,200.0,NaN,1000.0,NaN,1079.0,6140.0,5940.0,1,299399.0,5650595.0

In [99]:
df2.dtypes

sl_nr                             int64
name                             object
e32                              object
n32                              object
gw_stockwerk                    float64
grundstueck                      object
gemeinde_id                      object
gwhorizont_id                    object
gwhorizont                       object
gwleiter_id                      object
gwleiter                         object
einrichtungsgrund                object
gwk_lage_auf_id                  object
gwk_lage_id                      object
gwk_monitoring_auf_id            object
gwk_monitoring_id                object
messprogramm                     object
turnus_wasserstand               object
freigabe_wstd                    object
freigabe_chemie                  object
freigabe_lage                    object
wasserstandsmessstelle           object
guetemessstelle                  object
im_wrrl_messnetz_chemie          object
im_wrrl_messnetz_wasserstand     object
messstellenart                   object
wasserart                        object
labor                            object
beobachtung_wasserstand          object
eigentuemer                      object
betreiber                        object
filterlaenge_cm                 float64
sumpfrohrlaenge_cm              float64
ausbaudurchmesser_mm            float64
historischer_ruhe_wsp           float64
einbaulaenge_cm                 float64
oberkante_filter_cm             float64
unterkante_filter_cm            float64
genau                             int64
e32num                          float64
n32num                          float64
dtype: object

In [100]:
%%time
gdf = gpd.GeoDataFrame(df2, geometry=gpd.points_from_xy(df2.e32num, df2.n32num), crs="EPSG:25832")

CPU times: user 36.5 ms, sys: 4.42 ms, total: 40.9 ms
Wall time: 38.4 ms

In [101]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 71090 entries, 010000008 to 289382713
Data columns (total 42 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   sl_nr                         71090 non-null  int64
 1   name                          71090 non-null  object
 2   e32                           71090 non-null  object
 3   n32                           71090 non-null  object
 4   gw_stockwerk                  54173 non-null  float64
 5   grundstueck                   71090 non-null  object
 6   gemeinde_id                   71090 non-null  object
 7   gwhorizont_id                 28424 non-null  object
 8   gwhorizont                    28424 non-null  object
 9   gwleiter_id                   2690 non-null   object
 10  gwleiter                      2690 non-null   object
 11  einrichtungsgrund             71090 non-null  object
 12  gwk_lage_auf_id               70475 non-null  object
 13  gwk_lage_id                   70475 non-null  object
 14  gwk_monitoring_auf_id         70724 non-null  object
 15  gwk_monitoring_id             70724 non-null  object
 16  messprogramm                  16878 non-null  object
 17  turnus_wasserstand            67690 non-null  object
 18  freigabe_wstd                 71090 non-null  object
 19  freigabe_chemie               71090 non-null  object
 20  freigabe_lage                 71090 non-null  object
 21  wasserstandsmessstelle        71090 non-null  object
 22  guetemessstelle               71090 non-null  object
 23  im_wrrl_messnetz_chemie       71090 non-null  object
 24  im_wrrl_messnetz_wasserstand  71090 non-null  object
 25  messstellenart                71090 non-null  object
 26  wasserart                     16878 non-null  object
 27  labor                         16878 non-null  object
 28  beobachtung_wasserstand       68145 non-null  object
 29  eigentuemer                   45634 non-null  object
 30  betreiber                     45128 non-null  object
 31  filterlaenge_cm               38356 non-null  float64
 32  sumpfrohrlaenge_cm            32200 non-null  float64
 33  ausbaudurchmesser_mm          43277 non-null  float64
 34  historischer_ruhe_wsp         792 non-null    float64
 35  einbaulaenge_cm               59275 non-null  float64
 36  oberkante_filter_cm           59275 non-null  float64
 37  unterkante_filter_cm          59275 non-null  float64
 38  genau                         71090 non-null  int64
 39  e32num                        71090 non-null  float64
 40  n32num                        71090 non-null  float64
 41  geometry                      71090 non-null  geometry
dtypes: float64(10), geometry(1), int64(2), object(29)
memory usage: 25.3+ MB

In [102]:
gdf.head(3)

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,gwleiter_id,...,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm,genau,e32num,n32num,geometry
messstelle_id,,,,,,,,,,,,,,,,,,,,,
010000008,70796,P3-BSR/Mariaschacht P 5 neu,3068xx,56254xx,1.0,,05334032,None,None,None,...,NaN,80.0,NaN,1570.0,21053.0,20353.0,100,306850.0,5625450.0,POINT (306850.000 5625450.000)
010000010,1,SCHERPENSEEL NR 1,2935xx,56452xx,1.0,privat,05370028,6D,Neurather Sand,None,...,NaN,100.0,NaN,4936.0,7731.0,7331.0,100,293550.0,5645250.0,POINT (293550.000 5645250.000)
010000021,2,Bellinghoven Nr. 2,312776,5660432,1.0,privat,05370004,14,Ältere Hauptterrassen,None,...,NaN,1000.0,NaN,1411.0,7885.0,7885.0,1,312776.0,5660432.0,POINT (312776.000 5660432.000)

In [103]:
%%time

# This takes 90 secs on my computer!

#gdf.to_file("GW_Stations.gpkg", layer='GW Stations', driver="GPKG")

CPU times: user 4 µs, sys: 2 µs, total: 6 µs
Wall time: 11 µs

## PostGIS, Inline SQL: `create schema gw`

To store the data in PostGIS/PostgreSQL it is recommended to create a dedicated database "schema" (a kind of name space) to separate relations (tables, views), stored procedures, etc. from the rest of the database. Schemata help to organize the tables and access privileges clearly.

In [104]:
#!conda install -c conda-forge ipython-sql
pg_engine = create_engine("postgresql://geo_master:xxxxxx@localhost/geo")

In [105]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [106]:
print("Connect")
%sql pg_engine

Connect

In [107]:
%%sql
SELECT * FROM information_schema.schemata

Running query in 'postgresql://geo_master:***@localhost/geo'

4 rows affected.

+--------------+--------------------+-------------------+-------------------------------+------------------------------+----------------------------+----------+
| catalog_name |    schema_name     |    schema_owner   | default_character_set_catalog | default_character_set_schema | default_character_set_name | sql_path |
+--------------+--------------------+-------------------+-------------------------------+------------------------------+----------------------------+----------+
|     geo      | information_schema |      postgres     |              None             |             None             |            None            |   None   |
|     geo      |     pg_catalog     |      postgres     |              None             |             None             |            None            |   None   |
|     geo      |       public       | pg_database_owner |              None             |             None             |            None            |   None   |
|     geo      |         gw         |     geo_master    |              None             |             None             |            None            |   None   |
+--------------+--------------------+-------------------+-------------------------------+------------------------------+----------------------------+----------+

In [108]:
%%sql
CREATE SCHEMA IF NOT EXISTS gw AUTHORIZATION geo_master

Running query in 'postgresql://geo_master:***@localhost/geo'

++
||
++
++

In [109]:
%%sql
SELECT * FROM information_schema.schemata;

Running query in 'postgresql://geo_master:***@localhost/geo'

4 rows affected.

+--------------+--------------------+-------------------+-------------------------------+------------------------------+----------------------------+----------+
| catalog_name |    schema_name     |    schema_owner   | default_character_set_catalog | default_character_set_schema | default_character_set_name | sql_path |
+--------------+--------------------+-------------------+-------------------------------+------------------------------+----------------------------+----------+
|     geo      | information_schema |      postgres     |              None             |             None             |            None            |   None   |
|     geo      |     pg_catalog     |      postgres     |              None             |             None             |            None            |   None   |
|     geo      |       public       | pg_database_owner |              None             |             None             |            None            |   None   |
|     geo      |         gw         |     geo_master    |              None             |             None             |            None            |   None   |
+--------------+--------------------+-------------------+-------------------------------+------------------------------+----------------------------+----------+

## PostGIS: Upload GeoDataFrame with `gdf.to_postgis()`

Dependencies:
* psycopg2
* geoalchemy2

In [110]:
import sqlalchemy
#engine = sqlalchemy.create_engine("postgresql://env_master:xxxxxx@localhost/env_db")
# fast_executemany=True
# use_batch_mode=True

In [112]:
%%sql
DROP TABLE gw.gw_stations cascade

Running query in 'postgresql://geo_master:***@localhost/geo'

++
||
++
++

In [113]:
%%time
gdf.to_postgis(con=pg_engine, name="gw_stations", schema="gw", index=True, chunksize=100, if_exists="replace")

CPU times: user 2.64 s, sys: 192 ms, total: 2.83 s
Wall time: 5.43 s

In [114]:
# Create primary Key
%sql alter table gw.gw_stations add constraint pk_gw_stations primary key (messstelle_id)

Running query in 'postgresql://geo_master:***@localhost/geo'

++
||
++
++

In [115]:
%%sql
create view gw.v_gw_stations_wrrl_chemie as
select * from gw.gw_stations 
where im_wrrl_messnetz_chemie = 'ja'
and freigabe_chemie = 'ja'

Running query in 'postgresql://geo_master:***@localhost/geo'

++
||
++
++

In [121]:
%%sql
create or replace view gw.v_gw_station_series as
select 
m.sl_nr as fid, st.geometry, st.messstelle_id, st.name, st.genau, st.im_wrrl_messnetz_chemie, st.im_wrrl_messnetz_wasserstand,
m.sl_nr, m.substance_id,  m.substance , m.sampling_date, m.limit, m.value, m.unit
from gw.gw_stations st, gw.gw_meas m
where st.messstelle_id = m.station_id
order by messstelle_id, substance_id, sampling_date

Running query in 'postgresql://geo_master:***@localhost/geo'

++
||
++
++

In [120]:
%%sql
create or replace view gw.v_gw_station_series_nitrat as
select 
m.sl_nr as fid, st.geometry, st.messstelle_id, st.name, st.genau, st.im_wrrl_messnetz_chemie, st.im_wrrl_messnetz_wasserstand,
m.sl_nr, m.substance_id,  m.substance , m.sampling_date, m.limit, m.value, m.unit
from gw.gw_stations st, gw.gw_meas m
where st.messstelle_id = m.station_id
and substance_id = 1244
order by messstelle_id, substance_id, sampling_date

Running query in 'postgresql://geo_master:***@localhost/geo'

++
||
++
++

# Groundwater "Quality Data": Chemistry!

## Imports

In [ ]:
import pandas as pd

## Data Directories and Files

In [ ]:
data_in_dir = r"../data/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV/"

gw_station_fname = r"opendata.gw_messstelle.csv"
gw_quality_fname = r"opendata.gw_chemischer_messwert.csv"

gw_station_pfname = data_in_dir + gw_station_fname
gw_quality_pfname = data_in_dir + gw_quality_fname
print(f"Stationsdaten:  {gw_station_pfname:s}")
print(f"Qualitätsdaten: {gw_quality_pfname:s}")

In [ ]:
print(gw_quality_pfname)

In [ ]:
fh = open(gw_quality_pfname,"r", encoding = "utf-8", newline = '')
s = fh.readline()
s = s.replace('"', '').strip()
header_de = s[1:].split(';')
header_de

In [ ]:
%time df_qual = pd.read_csv(gw_quality_pfname, sep = ";", dtype = {"messergebnis_c":str ,"messergebnis_hinweis":str }, nrows = 5)

In [ ]:
df_qual.head(3)

In [ ]:
df_qual.info()

The full CSV file with the chemical lab measurements comprises more than 3.6 Mio measurments!

In [ ]:
# Wall time: 13 s
%time df_qual = pd.read_csv(gw_quality_pfname, sep = ";", index_col=["sl_nr"], \
                            dtype = {"messergebnis_c":str ,"messergebnis_hinweis":str }, \
                            parse_dates = ["datum_pn", "aktual_dat", "erstell_dat"])

In [ ]:
df_qual.shape

In [ ]:
df_qual.info()

In [ ]:
df_qual.head(3)

In [ ]:
# time series example
# stoff_nr=1244 ->"Nitrat"
idx = (df_qual["messstelle_id"] == 20002129) & (df_qual["stoff_nr"] == 1244)
df_qual.loc[idx,["datum_pn", "messergebnis_c"]].sort_values("datum_pn")

In [ ]:
# duplicate sl_nr values? Can it be a unique index?
# Result should be empty
print(df_qual[df_qual.index.duplicated()])

### Tests for different measurement value string cases

```
(1)   "1.00" (is_float)
(2)  "<1.00" (is_less)
(3)  ">1.00" (is_greater)
```

In [ ]:
# check if string can be converted to float
def is_float(element: str) -> bool:
    try:
        float(element)
        return True
    except ValueError:
        return False

In [ ]:
# check if string starts with '<'
def is_less(element: str) -> bool:
    return element[0] == "<"

In [ ]:
# check if string starts with '>'
def is_greater(element: str) -> bool:
    return element[0] == ">"

In [ ]:
print("is_float()")
print(is_float("<1.234"))
print(is_float(">1.234"))
print(is_float("-1.234"))

In [ ]:
# Some test applications
print("is_less()")
print(is_less("<1.234"))
print(is_less(">1.234"))
print(is_less("1.234"))
print("is_greater()")
print(is_greater("<1.234"))
print(is_greater(">1.234"))
print(is_greater("1.234"))
print("is_float()")
print(is_float("<1.234"))
print(is_float(">1.234"))
print(is_float("1.234"))

In [ ]:
# Apply the tests and create Boolean indexes
%time idx_mess_is_float   = df_qual["messergebnis_c"].apply(is_float)
%time idx_mess_is_less    = df_qual["messergebnis_c"].apply(is_less)
%time idx_mess_is_greater = df_qual["messergebnis_c"].apply(is_greater)

In [ ]:
# Print records which are neither less nor greater nor float -> should be empty data frame
assert df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float].shape[0] == 0

# Dataframe should be empty
print(df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float])

In [ ]:
# res = (~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float).value_counts()
res = (idx_mess_is_less | idx_mess_is_greater | idx_mess_is_float).value_counts()
res

## Convert measurement results to float when possible

In [ ]:
%time df_qual.loc[idx_mess_is_float,"messergebnis_num"] = df_qual.loc[idx_mess_is_float,"messergebnis_c"].astype(float)
%time df_qual.loc[idx_mess_is_less,"messergebnis_num"] = df_qual.loc[idx_mess_is_less,"messergebnis_c"].replace({'<':''}, regex=True).astype(float)
%time df_qual.loc[idx_mess_is_greater,"messergebnis_num"] = df_qual.loc[idx_mess_is_greater,"messergebnis_c"].replace({'>':''}, regex=True).astype(float)

#%time df_qual.loc[idx_mess_is_float,"messergebnis_num"] = df_qual.loc[idx_mess_is_float,"messergebnis_c"].astype(float)
#%time df_qual.loc[idx_mess_is_less,"messergebnis_num"] = -9
#%time df_qual.loc[idx_mess_is_greater,"messergebnis_num"] = -8

In [ ]:
df_qual.loc[idx_mess_is_float, "messergebnis_comment"] = "="
df_qual.loc[idx_mess_is_less, "messergebnis_comment"] = "<"
df_qual.loc[idx_mess_is_greater, "messergebnis_comment"] = ">"

In [ ]:
# Reason for not being float? XOR: A ^ B
#idx = (~idx_mess_is_float ^ idx_mess_is_less) # These are non-floats which are be less at the same time => greater
#df_qual[idx]

In [ ]:
# Reason for not being float? XOR
#idx = (~idx_mess_is_float ^ idx_mess_is_greater)
#df_qual[idx]

In [ ]:
df_qual[df_qual["messergebnis_num"]<0]

## SQLAlchemy performance tests

`df.to_sql()` uses the `SQLalchemy library`. This library provides a SQL database API for a lot of different database management systems (DBMS), e.g. PostgreSQL, Microsoft SQL Server, etc. SQLAlchemy uses DBMS specific low level drivers such as `psycopg2` for PostgreSQL to connect to the different database systems. The following connection strings are used to connect to PostgreSQL (PG) using the psycopg22 driver (the default PG driver):

`engine = sqlalchemy.create_engine("postgresql://env_master:xxxxxx@localhost/env_db")`

`engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db")`

In [ ]:
import sqlalchemy

### The following performance tests to not differ significantly.

In [ ]:
# the default to_sql() / sqlalchemy method using psycopg2 (default PG driver) ...
# on my laptop:
# Approx. Wall time: 5min 35s 

engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db")

%time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace")

In [ ]:
# other attempts to speed up ...
# on my laptop:
# Approx. Wall time: 5min 35s
# => no improvement
engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db", \
                                  executemany_mode='values', \
                                  executemany_values_page_size=10000, \
                                  executemany_batch_page_size=500)

# %time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace", method="multi")
%time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace")

### The following attempt using `method="multi"` fails with `psycopg2`! 

The parameter `method="multi"` seems to be effective with the `msodbc` driver for MS SQL Server. In `psycopg2` it causes problems.

In [ ]:
# the default to_sql() / sqlalchemy method using psycopg2 (default PG driver) ...
# on my laptop:
# Wall time: FAILED! MANUALLY INTERRUPTED AFTER 10:00 MINS.

engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db")

# %time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace", chunksize=1000)
%time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace", method="multi")

## Upload Katalog_Stoff and Katalog_Gemeinde

In [ ]:
data_in_dir = r"../data/original/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV/"

katalog_stoff_fname = r"katalog_stoff.csv"
katalog_gemeinde_fname = r"katalog_gemeinde.csv"

katalog_stoff_fname = data_in_dir + katalog_stoff_fname
katalog_gemeinde_fname = data_in_dir + katalog_gemeinde_fname

print(f"Stoff:  {katalog_stoff_fname:s}")
print(f"Gemeinde: {katalog_gemeinde_fname:s}")

df_stoff = pd.read_csv(katalog_stoff_fname, sep = ";")
df_stoff.head()
engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db")
%time df_stoff.to_sql(con=engine, name="gw_katalog_stoff", schema="gw", if_exists="replace")

In [ ]:
df_gemeinde = pd.read_csv(katalog_gemeinde_fname, sep = ";")
engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db")
%time df_gemeinde.to_sql(con=engine, name="gw_katalog_gemeinde", schema="gw", if_exists="replace")